/* general stylies*/
body{
    position: relative;
}
.bg-color1{
    background-color: #ED8FC7;
}
.bg-color2{
    background-color: #B8DD7F;
}
.bg-color3{
    background-color: #98B1C5;
}
.bg-color4{
    background-color:#A28FDA;
}
.bg-color5{
    background-color: #D8A283;
}
.bg-color6{
    background-color: #6CA8B2;
}

/* nav bar*/
nav{
    background-color: #E3E6F3;
}
nav #navlist li{
    display: inline;
    margin-right: 6vh;
    font-weight:500; 
    list-style: none;
    position: relative;
}
nav  #navlist li a{
    text-decoration: none;
    color: #1a1a1a; 
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
}

nav  #navlist li a:hover,
nav  #navlist li a.active,
#smallNav li a:hover,
#smallNav li a.active
{
    color: #088178;
} 
nav  #navlist li a.active::after,
nav  #navlist li a:hover::after,
#smallNav li a.active::after,
#smallNav li a:hover::after
 {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 0px;
}
#smallNav {
    background-color: #cbccd3;
    padding:25px;
    position: absolute;
    top: 0;
    right: -250;
    width: 250px;
    height: 100%;
    text-align: start;
    font-size: 20px;
}
#smallNav li{
    list-style: none;
    margin: 15px;
    position: relative;

}
#smallNav li a{
    text-decoration: none;
    color: #1a1a1a; 
    transition: 0.3s ease;

}
/* header*/
#header{
    background-image: url("../assets/img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position:  top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#header span{
    font-size: 20px;
    font-weight: 500;
}
#header h1{
    font-size: 70px;
}
#header h2{
    font-size: 50px;
    color: #088178;
}
#header p{
    color: rgb(123, 118, 118);
}
#header button {
    background-image: url("../assets/img/button.png");
    background-size: cover;
    width: 20vh;
    color: #088178;
}

/*features*/
#features .feature{
height: 200px;
}