/* general stylies*/
body{
    position: relative;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #1a1a1a;;
}
a:hover{
    color: #088178;
}
.bg-color1{
    background-color: #ED8FC7;
}
.bg-color2{
    background-color: #B8DD7F;
}
.bg-color3{
    background-color: #98B1C5;
}
.bg-color4{
    background-color:#A28FDA;
}
.bg-color5{
    background-color: #D8A283;
}
.bg-color6{
    background-color: #6CA8B2;
}
.bg-main{
    background-color: #088178;
}
#featuredProducts,
#newArrivalsSection,
#someBanners,
#Newsletter,
#footer{
    margin: 100px 0;    
}
/* nav bar*/
.navbar-collapse{
    flex-direction: row-reverse;
    font-family: 'Alkalami', serif;  
}
.navbar{
    background-color: #E3E6F3;
    position: fixed;
    width: 100%;
    z-index: 1;
    font-weight: bolder;
}
.navbar li{
    list-style: none;
    position: relative;
    margin: 1vh;    
}
.navbar li a{
    text-decoration: none;
    color: #1a1a1a; 
    font-size: 16px;
}
.navbar li a:hover,
.navbar li a.active{
    color: #088178;
}

/* header*/
#header{
    background-image: url("../assets/img/hero4.png");
    height: 99vh;
    width: 100%;
    background-size: cover;
    background-position:  top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#header span{
    font-size: 20px;
    font-weight: 500;
}
#header h1{
    font-size: 70px;
}
#header h2{
    font-size: 50px;
    color: #088178;
}
#header p{
    color: rgb(123, 118, 118);
}
#header button {
    background-image: url("../assets/img/button.png");
    background-size: cover;
    width: 20vh;
    color: #088178;
}

/*featured products*/
.card{
    border-radius: 50px;
}
.card img{
    border-radius: 50px;
}
.checked {
    color: orange;
}
.price{
    color: #088178;
    font-size: 20px;
    font-weight: bold;
}
.card-body{
    position: relative;
}
.basket-icon,
.favorite-icon{
    position: absolute;
    bottom: 25;
    width: 40;
    height: 40;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    background-color: #E3E6F3;
    color: #088178;
}
.basket-icon{
    right: 20;
}
.favorite-icon{
    right: 70; 
}
/*banner*/
#banner{
    background-image: url("../assets/img/banner/b2.jpg");
    background-size: cover;
    height: 360px;
    padding: 100px 0;
}
#banner span{
    color: rgb(255, 43, 43);
    font-weight: bold;
}
#banner button:hover{
    background-color:#088178;
    color: #FFF;
}

/*some banners section*/
.banner1, .banner2{
    background-size: cover;
    color: #FFF;
    padding: 60px;
}
.banner1{
    background-image: url("../assets/img/banner/b17.jpg");
}
.banner2{
    background-image: url("../assets/img/banner/b10.jpg");
}
.banner3,
.banner4,
.banner5{
    background-size: cover;
    color: #FFF;
    padding: 80px 10px;
}
.banner3{
    background-image: url("../assets/img/banner/b7.jpg");
}
.banner4{
    background-image: url("../assets/img/banner/b4.jpg");
}
.banner5{
    background-image: url("../assets/img/banner/b18.jpg");
}
#someBanners .btn1{
    color: #FFF;
}
#someBanners .btn1:hover{
    background-color: #FFF;
    color: black;
}
#someBanners .btn2:hover{
    background-color:#088178;
    color: #FFF;
}

/* Newsletter section  */ 
#Newsletter{
    background-color: #0c244e;
    padding: 35px;
    color: #FFF;
    margin-bottom: 0;
}
#Newsletter span{
    color: orange;
}
#getEmail{
    display: flex;
    width: 80%;
    padding: 20px;    
}
#getEmail input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px 0 0 5px;
}
#getEmail button{
    background-color: #088178;
    color: #FFF;
    white-space: nowrap;
    border-radius: 0 5px 5px 0;
}

/* footer*/
#footer{
    margin-bottom: 5px;
}
.footercol1 p{
    margin-bottom: 1px;
}
.footercol1 p span{
    font-weight: bold;
}
#footer button{
    width: 45%;
    height: 10vh;
    margin-top: 10px;
    border: 1px solid #088178;
}
#footer .btn1{
    background-image: url("../assets/img/pay/app.jpg");
    background-size: auto;
    background-position:  center;
    background-repeat: no-repeat;
}
#footer .btn2{
    background-image: url("../assets/img/pay/play.jpg");
    background-size: auto;
    background-position:  center;
    background-repeat: no-repeat;
}
.copyRight{
    text-align: center;
}

/* shop page*/
.page-header{
    background-image: url("../assets/img/banner/b1.jpg");
    background-size: cover;
    width: 100%;
    height: 40vh;
    color: #FFF;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}
.page-header h1{
    padding-top: 60px;
}
#pagination{
    text-align: center;
}
#pagination button{
    height: 6vh;
    width: 6vh;
}

/*single product page*/
#sProduct{
    padding-top: 7vh;
}
.product-details h2,
.product-details h3{
    font-weight:bolder;
}
.product-details input{
    width: 10vh;
}
#sizes{
    width: 30vh;
}
.smallImg{
    cursor: pointer;
}

/* sigin up page*/
.form-container{
    padding-top: 20vh;
    width: 50%;
    margin: auto;
    color: #088178;
    font-weight: bold;
    font-size: 20px;
}
.form-container label{
    margin-bottom: 1vh;
}
.form-container input{
    margin-bottom: 3vh;
}